@media screen and (max-width: 600px) {
  #burger {
    width: 40px;
    height: 26px;
    margin: 2vw;
    cursor: pointer;
    position: absolute;
    z-index: 3;
  }
  #burger::before,
  #burger::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: #ff6be9;
    transition: transform ease 0.8s;
  }
  #burger::before {
    top: 0;
    box-shadow: 0 25px 0 #ff6be9;
  }
  #burger::after {
    top: 13px;
  }
  #burger.active::before {
    box-shadow: 0 25px 0 #ff6be900;
    transform: rotate(45deg);
    top: 12px;
  }
  #burger.active::after {
    transform: rotate(-45deg);
  }
  .mainMenu {
    width: 100%;
    height: 100vh;
    flex-direction: column;
    border-radius: 0;
    justify-content: flex-start;
    padding: 50px 1.6vw;
    gap: 3vw;
    background-color: #ff6be900;
    backdrop-filter: blur(10px);
    position: absolute;
    top: -10;
    left: 0;
    z-index: 2;
    overflow: hidden;
    transform: translateX(-100%);
    transition: transform ease 0.8s;
    border-right: 2px solid #ff6be9;
  }
  .mainMenu a {
    font-size: 8vw;
  }
  #burger.active + .mainMenu {
    transform: translateX(0);
  }

  .mainMenu a::before {
    content: "";
    position: absolute;
    right: 3vw;
    width: 8vw;
    height: 8vw;
    background-image: url(https://img.icons8.com/ios/50/long-arrow-right--v2.png);
    background-size: contain;
    opacity: 0;
  }
  .mainMenu a:hover::before {
    opacity: 1;
    transform: translateX(1.4vw);
    transition:
      opacity ease 0.4s,
      transform ease 0.9s;
  }
  .mainMenu a.active:hover::before {
    opacity: 0;
  }
}
